.sidebar-nav {
  margin-left: 6%;
}

.search input {
  margin-left: 35px;
  margin-right: 10px;
}

.sidebar-toggle {
  width: 35px;
}

body.sticky .sidebar-toggle {
  position: sticky;
  top: 8px;
  left: 2px;
}

h3 {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    padding: 10px;
  }

  main {
    height: 100%;
  }
}
