h3 {
  margin: 0;
}
.sidebar-toggle-button {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    padding: 10px;
  }
  .markdown-section {
    max-width: 100% !important;
  }
  main {
    height: 100%;
  }
}

.markdown-section {
  max-width: 90%;
  padding: 0 45px;
}
.gitalk-container,
#gitalk-container {
  width: 90% !important;
  padding: 2rem 45px;
}

.docsify-copy-code-button,
.docsify-copy-code-button span {
  cursor: pointer;
  transition: all 0.25s ease;
}
.docsify-copy-code-button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: visible;
  padding: 0.65em 0.8em;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-size: 1em;
  background: grey;
  background: var(--theme-color, grey);
  color: #fff;
  opacity: 0;
}
.docsify-copy-code-button span {
  border-radius: 3px;
  background: inherit;
  pointer-events: none;
}
.docsify-copy-code-button .error,
.docsify-copy-code-button .success {
  position: absolute;
  z-index: -100;
  top: 50%;
  left: 0;
  padding: 0.5em 0.65em;
  font-size: 0.825em;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.docsify-copy-code-button.error .error,
.docsify-copy-code-button.success .success {
  opacity: 1;
  -webkit-transform: translate(-115%, -50%);
  transform: translate(-115%, -50%);
}
.docsify-copy-code-button:focus,
pre:hover .docsify-copy-code-button {
  opacity: 1;
}

.alert.flat.contact .title {
  color: white !important;
  font-size: var(--heading-h3-font-size);
}

hr {
  margin: 0;
  padding: var(--heading-h2-padding, var(--heading-padding));
}
.alert.flat.tip {
  color: black !important;
  background-color: #f3e6e3 !important;
  border-color: #f3e6e3 !important;
}

.alert.flat.contact {
  color: white !important;
  border-color: #776d8a !important;
  background-color: #776d8a !important;
}

.gt-container .gt-link {
  border-bottom: 1px dotted #776d8a !important;
}

.gt-container a {
  color: #776d8a !important;
}

.gt-container .gt-btn {
  background-color: #776d8a !important;
  border-color: #776d8a !important;
}

.gt-container .gt-btn-preview {
  color: #776d8a !important;
  background-color: white !important;
}

.gt-container .gt-svg svg {
  fill: #776d8a !important;
}

.gt-container .gt-ico-github svg {
  fill: black !important;
}
.gt-container .gt-comment-admin .gt-comment-content {
  background-color: #faf2f2 !important;
}
.gt-container .gt-comment-content {
  background-color: #f6f6f6 !important;
}
